.approach {
    // .approach mobile/default styles
    background-color: $red;
    color: $white;
    &__heading-container {
        margin: 4.5rem 0 6.375rem 0;
    }
    &__content {
        padding-left: 2rem;
        padding-right: 2rem;
        &__item {
            position: relative;
            &__number {
                position: absolute;
                top: -2.7rem;
                font-size: 80px;
                line-height: 88px;
                font-weight: 800;
                opacity: 25%;
            }
            &__heading {
                font-size: 15px;
                font-weight: 800;
                line-height: 25px;
                margin-bottom: 25px;
            }
            &__paragraph {
                margin-bottom: 5.75rem;
            }
        }
    }
    // .approach Tablet Styles
    @include breakpoint-up(medium) {
        // section becomes flex container to divide heading and content items
        display: flex;
        justify-content: flex-end;
        padding: 0;
        position: relative;
        background-color: transparent;
        &__heading-container {
            padding-top: 5rem;
            color: $textBlack;
            margin: 0;
            width: 330px;
            height: 677px;
            .heading {
                margin: 8rem 1.25rem auto 2.5rem;
            }
        }
        &__content {
            z-index: 2;
            background-color: $red;
            height: 797px;
            width: calc(100% - 330px);
            padding-top: 10rem;
            // padding-left: calc(100% - 736px);
            &__item {
                width: 339px;
                margin: 0 auto;
            }
        }
    }

    // .approach desktop styles
    @include breakpoint-up(large) {
        &__heading-container {
            .heading {
                width: 540px;
                z-index: 3;
                position: absolute;
                margin-top: 400px;
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            height: 1100px;
            &__item {
                width: 50%;
                margin: 0 7rem 0 auto;
            }
        }
    }

    @include breakpoint-up(xlarge) {
        &__heading-container {
            .heading {
                left: 108px;
            }
        }
        &__content {
            width: calc(100% - 528px);
            padding-left: 6rem;
        }
    }
}
