.approach {
    // .approach mobile/default styles
    background-color: $red;
    color: $white;

    &__heading-container {
        margin: 4.5rem 0 6.375rem 0;
    }

    &__content {
        padding-left: 2rem;
        padding-right: 2rem;
        &__item {
            position: relative;

            &__number {
                position: absolute;
                top: -2.7rem;
                font-size: 80px;
                line-height: 88px;
                font-weight: 800;
                opacity: 25%;
            }
            &__heading {
                font-size: 15px;
                font-weight: 800;
                line-height: 25px;
                margin-bottom: 25px;
            }
            &__paragraph {
                margin-bottom: 5.75rem;
            }
        }
    }

    // .approach Tablet Styles
    @include breakpoint-up(medium){
        
        // section becomes flex container to divide heading and content items
        display: flex;
        padding: 0;
        position: relative;
        
        &__heading-container {
            background-color: $white;
            color: $textBlack;
            margin: 0;
            width: 330px;
            height: 677px;
            .heading{
                margin: 8rem 1.25rem auto 2.5rem;
            }
        }
        &__content {
            position: absolute;
            height: 797px;
            z-index: 10;
            right: 0;
            top: -6rem;
            width: 438px;
            margin-top: 9.4375rem;
        }
    }

}
