.projects {
    @include breakpoint-up(large){
        height: 728px;
    }
    .slider {
        #slide-one {
            // background-image: url("../../../assets/mobile/image-slide-1.jpg");
            background-image: url("../../assets/mobile/image-slide-1.jpg");
            @include breakpoint-up(medium) {
                background-image: url("../../assets/tablet/image-slide-1.jpg");
            }
            @include breakpoint-up(large) {
                background-image: url("../../assets/desktop/image-slide-1.jpg");
            }
        }
        #slide-two {
            background-image: url("../../assets/mobile/image-slide-2.jpg");
            @include breakpoint-up(medium) {
                background-image: url("../../assets/tablet/image-slide-2.jpg");
            }
            @include breakpoint-up(large) {
                background-image: url("../../assets/desktop/image-slide-2.jpg");
            }
        }
        #slide-three {
            background-image: url("../../assets/mobile/image-slide-3.jpg");
            @include breakpoint-up(medium) {
                background-image: url("../../assets/tablet/image-slide-3.jpg");
            }
            @include breakpoint-up(large) {
                background-image: url("../../assets/desktop/image-slide-3.jpg");
            }
        }
    }
}
