.strategic {
    background-color: $bgBlack;
    color: $white;
    max-width: 100vw;
    position: relative;
    p {
        margin: 32px 0 40px 0;
    }
    &__content {
        position: relative;
        width: 327px;
        margin: 0 auto;

        .heading {
            margin-top: 72px;
        }

        &__wave {
            position: absolute;
            height: 29px;
            width: 63;
            top: -88px;
        }
    }

    // Tablet Styles

    @include breakpoint-up(medium) {
        display: flex;
        height: 538px;
        &__content {
            align-self: center;
            position: static;
            width: 281px;

            &__wave {
                left: 348px;
                top: 26%;
            }
        }
    }

    // Desktop Styles
    @include breakpoint-up(large) {
        &__content {
            &__wave {
                height: 60px;
                width: 134px;
                top: 17%;
                left: 19.5rem;
            }
        }
    }

    // Large Desktop styles
    @include breakpoint-up(xlarge) {
        height: 784px;
        picture {
            align-self: stretch;
            flex-basis: 54%;
            img {
                // object-fit: cover;
                width: 100%;
                // flex: 51%;
            }
        }
        &__content {
            width: 445px;
            &__wave {
                left: 47%;
                top: 31.7%;
            }
        }
    }

    // Very Large Desktop styles
    @include breakpoint-up(xxlarge) {
        picture {
            flex-basis: auto;
        }
        &__content{
            &__wave{
                left: 665px;
            }
        }
    }
}
