.btn {
    height: 64px;
    font-family: inherit;
    font-size: $font-sm;
    cursor: pointer;
    border: none;
    padding: 0;
    line-height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: background 200ms ease-in-out;
    font-size: $font-reg;
    // justify-content: center;
    // align-items: center;


    &--primary {
        background: $textBlack;
        // width: 100%;
        color: $white;
        padding-right: 2rem;
        padding-left: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;

        font-size: 1rem;
        font-weight: 800;

        &.about-btn {
            padding: 0;
            margin: 0;
        }

        &:hover {
            background: $hover-2;
            

            g {
                stroke: white;
            }
        }

        // > div:first-child {
        //     height: 48px;
        //     width: 48px;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     position: relative;

        //     &::before {
        //         content: "";
        //         display: block;
        //         position: absolute;
        //         inset: 0;
        //         background: #000000;
        //         opacity: 10%;
        //     }
        // }

        // > div:last-child {
        //     flex-grow: 1;
        // }
    }

    &--secondary {
        background: $red;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 199px;
        &:hover{
            background: $hover-1;
        }
    }
    &--3 {
        padding-bottom: 12px;
        color: #f94f4f;
        border-bottom: 2px solid #f94f4f;
        display: inline-block;
        /* height: 29px; */
        font-weight: 800;
        margin-bottom: 72px;
        height: auto;
        line-height: 100%;
    }
}
