.footer {
    height: 391px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: $mobile;
    .heading {
        margin-bottom: 47px;
    }
    #footer-wavy {
        display: none;
    }

    // Start tablet styles
    @include breakpoint-up(medium) {
        height: 251px;
        padding: 0;
        flex-direction: row;
        align-items: center;
        .heading {
            width: 398px;
            margin: 0;
        }
    }

    // Start Desktop Styles
    @include breakpoint-up(large) {
        height: 368px;
        .heading {
            width: 635px;
        }
        #footer-wavy {
            display: inline;
            position: absolute;
            left: -67px;
        }
    }
}
