.header {
    position: relative;
    z-index: 1;

    // Hamburger Open Styles
    &.open {
        .header__toggle {
            > span:first-child {
                transform: rotate(48deg);
            }

            > span:nth-child(2) {
                opacity: 0;
            }

            > span:last-child {
                transform: rotate(-48deg);
            }
        }

        .header__menu {
            display: block;
            position: absolute;
            right: 0;
            top: 6.875rem;
            padding: 1.75rem;

            
        }
    }

    nav {
        position: relative;
        height: 6.875rem;
        padding: 1.5rem;

        @include breakpoint-up(medium) {
            height: 11.125rem;
            padding: 0;
        }
    }

    &__logo {
        height: 1.875rem;
        img {
            width: 10.0625rem;
            height: 1.875rem;
        }
    }

    &__toggle {
        // Mobile Menu Toggle

        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: #979797;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;

            &:not(:last-child) {
                margin-bottom: 6px;
            }
        }
    }

    &__menu {
        background: $bgBlack;
        padding: 1.03125rem;
        width: 15.75rem;
        height: 18.25rem;
        margin: 0 2rem 0 auto;
        display: none;

        a {
            font-size: $font-reg;
            padding: 1.125rem;
            display: block;
            color: #ffffff;
            text-align: center;

            &:last-child{
                padding: 1.5rem 1.125rem;
                display: flex;

                @include breakpoint-up(large){
                    padding: 1.5rem 2.875rem;
                }
            }
        }
    }

    &__section1 {
        @include breakpoint-up(medium) {
            height: 100%;
            width: 330px;
            background-color: $white;
            display: flex;
            align-items: center;
            justify-content: start;
            margin-left: $tablet;
        }
        @include breakpoint-up(large){
            margin-left: $desktop;
        }
    }

    &__section2 {
        @include breakpoint-up(medium) {
            height: 100%;
            background-color: $red;

            // after hitting tablet breakpoint(768px), fluidly reduce from
            // 57vw to 49vw at desktop breakpoint(1440px)
            flex-basis: calc(57vw - min( (0.172 * (100vw - 768px)), 8vw ) );

        }
    }

    &__links {
        height: 100%;
        @include breakpoint-up(medium) {
            display: flex;
            align-items: center;
            justify-content: center;
            // margin-left: 1.5rem;
            @include breakpoint-up(large){
                margin-left: 3.8125rem;
                justify-content: flex-start;
                font-size: $font-reg;
            }
        }
   
        a {
            // margin: 0 3.125rem;

            transition: 200ms ease-in-out;
            padding: 0.5rem;

            &:not(:last-child) {
                margin-right: 0.25rem;
                @include breakpoint-up(large) {
                    margin-right: 1rem;
                }
            }
            &:nth-last-child(2){
                margin-right: 2.5rem;
            }
            &:last-child{
                padding: 1.5rem 1.125rem;

                @include breakpoint-up(large){
                    padding: 1.5rem 2.875rem;
                }
            }

            // &:hover,
            // &:active {
            //    font-weight: 700;
            // }
            &:hover:not(:last-child){
                // prevent layout shift due to 
                // size of a tags changing on font-weight change
                text-shadow: 1px 0px 0px white;
            }

            // change color of current page's link
        }

        .current-link {
            color: $textBlack;
        }
    }
}
