html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: $commissioner;
    font-size: $font-med;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: $white;
}

p {
    line-height: 1.5625rem;
    font-size: $font-med;
    @include breakpoint-up(large) {
        font-size: 18px;
        line-height: 2rem;
    }
}

h1 {
    margin: 0;
    line-height: 2.5rem;

    @include breakpoint-up(medium){
        line-height: 3.5rem;
    }
    @include breakpoint-up(large){
        line-height: 5.5rem;
    }
}



